<div class="assistant">

  <div class="chat">
    <div class="group-bottom">
      <div class="chat-message from-assistant base-message" style="display: none;">
        <img class="molecule" src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Google_Assistant_logo.svg" />
        <div class="content"><span class="text">x</span>
        </div>
      </div>

      <div *ngFor="let message of allMessages">

        <div *ngIf="!message.userMessage" class="chat-message from-assistant">
          <div class="css-molecule">
            <div class="pill blue"></div>
            <div class="pill red"></div>
            <div class="pill green"></div>
            <div class="pill yellow"></div>
          </div>
          <div class="content long"><span class="text">{{message.messageText}}</span>
          </div>
        </div>
        <div *ngIf="message.userMessage" class="chat-message from-user">
          <div class="content"><span class="text">{{message.messageText}}</span></div>
        </div>


      </div>



    </div>

  </div>
    <div class="keyboard-input">
      <input #inputText class="input-text" placeholder="Type a Message and Press Enter" (keyup.enter)="onEnter(inputText)"/>
    </div>

</div>
